header{ min-height:50px; background:lightcyan; }

 /* html, body, #root, .App {
  height: 100%;
}  */

body {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-bottom: 30px;
}