#shirtDiv{
    width: 530px;
    height: 630px;
    position: relative;
    background-color: rgb(250, 239, 147);
}

 #tshirtFacing {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

#drawingArea {
    position: absolute;
    top: 100px;
    left: 160px;
    z-index: 10;
    width: 200px;
    height: 400px;      
}

#hover {
    -webkit-user-select: none;
}