#shirtCard {
    padding-left: 0;
    padding-right: 0;
    /* width: 530px;
    /* height: 630px; */
    position: relative;
}

#canvasCard {
    position: absolute;
    width: 100%;
    height: 100%;
}