#tshirtFacing {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

#drawingArea {
    position: absolute;
    margin-top: 19%;
    margin-left: 29%;
    width: 200px;
    height: 400px;      
}
