.spinner {
    width: 30px;
    height: 30px;
    border: 3px solid black;
    border-top-color: white;
    border-left-color: white;
    border-radius: 50%;
    animation: rotate-spinner .3s infinite linear
}

@keyframes rotate-spinner {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}